ng2-cytoscape {
        height: 200vh;
        float: left;
        width: 80%;
        position: relative;
        background: lightgrey;
        margin-left: 150px;
        margin-bottom: 50px;
    }
.table th {
       text-align: center;
}
.marginalize{
  margin: 10px;
}
