<router-outlet></router-outlet>
<div class="container" style="text-align : center;">
  <h1>
    {{title}}
  </h1>
      <button class="btn btn-info btn-block" (click)="getHomeTimeline()">Home TimeLine</button>
      <button class="btn btn-info btn-block" (click)="getFriends()">Get List of Friends</button>
      <button class="btn btn-info btn-block" (click)="showGraph()">Draw Graph</button>
      <button class="btn btn-info btn-block" (click)="getTrends()">Get Trends</button>
      <div class="input-group"><input class="marginalize form-control" style="inline : inline;" placeholder="Enter a query name"/><span class="input-group-btn"><button class="btn btn-info btn-block" (click)="searchTweet()">Tweets Search</button></span></div>
<br>

        <h2>{{clickedContent}}</h2>
        <ul *ngIf="home_timeline" class="list-group">
          <li class="list-group-item" *ngFor="let tweet of home_timeline">
          <div class="well">
              {{tweet}}
          </div>
        </li>
        </ul>

        <ul *ngIf="first_level_friends" class="list-group">
          <li class="list-group-item" *ngFor="let friend of first_level_friends">
              {{friend.name}}
          </li>
        </ul>

        <table *ngIf="trends" class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th> Name </th>
            <th> Number of Tweets </th>
          </tr>
        </thead>
          <tr *ngFor="let trend of trends">
            <td>{{trend.name}}</td>
            <td>{{trend.tweet_volume}}</td>
          </tr>
        </table>


</div>

<div id="helloworld" #helloworld>
</div>


<br>
<hr>
<div class="container">
  <a class="btn btn-primary btn-block" routerLink="/" routerLinkActive="active" > Home </a>
  <a class="btn btn-primary btn-block" routerLink="/facebook" routerLinkActive="active" >Facebook API </a>
</div>
<br>
<br>


<ng2-cytoscape *ngIf="drawGraph" [elements]="graphData" [style]="styles" [layout]="options" ></ng2-cytoscape>

<br><br>
